h2 {
  font-size: 2.5rem;
  text-align: center;
}

#linear-clock {
  width: 1128px;
  height: 128px;
  background: linear-gradient(rgba(255, 255, 255, 0.35), rgba(0, 0, 0, 0.35));
  border-radius: 8px;
}

#clock-hand {
  position: relative;
  z-index: 0;
  margin-left: 60px;
  margin-right: 64px;
  width: 44px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 2px solid white;
  border-radius: 8px;
  top: -72px;
}

#clock-range {
  position: relative;
  background-color: rgba(0, 221, 0, 0.5);
  border-radius: 8px;
  height: 64px;
  top: -8px;
}

#clock-numbers {
  position: relative;
  z-index: 1;
  width: 100%;
  top: 64px;
}

#clock-numbers ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  padding: 0px 64px;
  text-align: center;
}

#clock-numbers ul li {
  margin: 0;
  width: 40px;
}

.large-digit {
  font-size: 2rem;
  font-weight: bold;
}

.small-digit {
  font-size: 1.75rem;
}

#clock-seconds {
  position: relative;
  align-content: center;
  top: -64px;
  width: 96px;
  height: 64px;
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  margin: auto;
  text-align: center;
  border-radius: 24px;
}

#time-left {
  text-align: center;
}

#clock-min-max {
  position: relative;
  top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

#clock-min-max label {
  font-size: 1.75rem;
}

#clock-min-max select {
  font-size: 3rem;
  text-align-last: center;
}

.red {
  color: rgb(255, 48, 48);
  font-weight: bold;
}
